* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.main-content-text {
    margin: 10px;
    padding: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
}

.creators-list {
    list-style-type: none;
    margin: 0 10px;
}

section p {
    margin: 10px;
    padding: 10px;
}

h2 {
    color: orangered;
    font-family: 'Balsamiq Sans', cursive;
    font-style: bold;
}

p {
    color: #595959;
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
}